<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <authorization_price>
                <authorization_price_yesno>1</authorization_price_yesno>
            </authorization_price>
        </general>
    </default>
</config>